---
- name: create user and required directories
  ansible.builtin.include_tasks: user.yml

- name: configure youtrack service
  ansible.builtin.template:
    src: youtrack.service.j2
    dest: /etc/systemd/system/youtrack.service
    mode: 0644
  notify: restart youtrack service

- name: download archive
  ansible.builtin.include_tasks: archive.yml

- name: configure
  ansible.builtin.include_tasks: configure.yml

- name: create/update symbolic link
  ansible.builtin.file:
    state: link
    follow: no
    src: "{{ youtrack_releases_dir }}/youtrack-{{ youtrack_version }}"
    dest: "{{ youtrack_base_dir }}"
    owner: "{{ youtrack_user }}"
    group: "{{ youtrack_group }}"
  notify: restart youtrack service
  when: not ansible_check_mode

- name: enable youtrack service
  ansible.builtin.systemd:
    name: youtrack
    enabled: true

- name: restore backup
  ansible.builtin.include_tasks: backup.yml
  when: youtrack_restore_backup|bool
