[Unit]
Description=Youtrack

[Service]
Type=simple
RemainAfterExit=true
ExecStart={{ youtrack_releases_dir }}/youtrack-{{ youtrack_version }}/bin/youtrack.sh start --no-browser
ExecStop={{ youtrack_releases_dir }}/youtrack-{{ youtrack_version }}/bin/youtrack.sh stop
User={{ youtrack_user }}
RestartSec=5
Restart=on-failure


[Install]
WantedBy=default.target

