[Unit]
Description=Youtrack
Requires=network.target
After=syslog.target network.target

[Install]
WantedBy=default.target

[Service]
Type=forking
RemainAfterExit=yes
User={{ youtrack_user }}
Group={{ youtrack_group }}
SyslogIdentifier=youtrack
WorkingDirectory={{ youtrack_release_link }}
PIDFile={{ youtrack_logs_dir }}/youtrack.pid
RestartSec=5
Restart=on-failure

ExecStart={{ youtrack_release_link }}/bin/youtrack.sh start --no-browser
ExecStop={{ youtrack_release_link }}/bin/youtrack.sh stop
