[Unit]
Description=Youtrack

[Service]
Type=simple
RemainAfterExit=true
ExecStart={{ youtrack_home_dir }}/youtrack.sh start --no-browser
ExecStop={{ youtrack_home_dir }}/youtrack.sh stop
User={{ youtrack_user }}
RestartSec=5
Restart=on-failure


[Install]
WantedBy=default.target

